<% content_for :title, "Login" %>

<body class="bg-sky-200 text-gray-900 flex justify-center items-center h-screen m-0">
  <main class="bg-sky-800 text-gray-900 rounded-lg flex flex-col items-center p-[40px] w-96">
    <section class="login-header">
      <h1 class="text-white text-2xl font-bold">LOGIN</h1>
    </section>

    <section>
      <%= form_with url: "/login", method: :post, html: { class: "flex flex-col items-center gap-6 mt-4 w-[250px] p-[25px]" } do %>
        <input class="border-b border-gray-400 text-white p-[10px] bg-sky-800 focus:outline-none" type="text" id="fusuario" name="email" placeholder="Email" />

        <input class="border-b border-gray-400 text-white p-[10px] bg-sky-800 focus:outline-none" type="password" id="lsenha" name="password" placeholder="Senha" />

        <button type="submit" class="rounded-lg bg-fuchsia-950 p-[10px] text-white cursor-pointer hover:bg-white hover:text-fuchsia-950 transition">
          Login
        </button>
      <% end %>
    </section>

    <section class="text-white text-center mt-4">
      <p>Não tem uma conta? <%= link_to "Registre-se", register_path, class: "text-fuchsia-300 font-bold no-underline hover:underline" %></p>
    </section>

  </main>
</body>
