<!DOCTYPE html>
<html>
<head>
  <title>Agregador de Notícias</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap" rel="stylesheet">
  <% content_for :stylesheets do %>
    <%= stylesheet_link_tag "login", media: "all" %>
  <% end %>
</head>
<body>
  <main>
    <section class="login-header">
      <h1>LOGIN</h1>
      <!-- <h2>Entre com o seu usuário e senha ou clique aqui para se registrar</h2> -->
    </section>
    <section class="login-form">
      <form action="/login" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="text" id="fusuario" name="email" placeholder="Email" />
        <input type="password" id="lsenha" name="password" placeholder="Senha" />
        <button type="submit">Login</button>
      </form>
      <section class="error-message">
        <% if flash[:alert] %>
          <p class="error"><%= flash[:alert] %></p>
        <% end %>
      </section>
      <section class="register">
        <p>Não tem uma conta? <%= link_to "Registre-se", register_path, class: "a" %></p>
    </section>
  </main>
</body>
</html>
