<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_principal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Tela inicial</title>
</head>
<body>
    <Header>
        SISTEMA DE PESQUISA DE TERMOS
        <section class="desconectar">
              <button class="Btn">
                <div class="sign">
                    <svg viewBox="0 0 512 512">
                        <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
                    </svg>
                </div>
                <div class="text">Desconectar</div>
            </button>
        </section>
    </Header>
    <main>
        <section class="pesquisa">
            <section class="titulo-pesquisa">
                <h2>Digite o termo a ser pesquisado</h2>
            </section>
            <section class="caixa-search">
                    <input class="caixa-texto" type="text" name="" placeholder="Pesquisar...">
                    <a class="botao-search" id="btnPesquisar" href="javascript:void(0);">
                        <i class='fas fa-search' ></i>
                    </a>
                </section>
            </section>
            <table id="tabelaResultados">
                <thead>
                    <tr>
                        <th>Termo</th>
                        <th>Descrição</th>
                        <th>Data de Criação</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Exemplo 1</td>
                        <td>Descrição do exemplo 1</td>
                        <td>01/01/2023</td>
                        <td><button class="btn-editar">Save for Later</button></td>
                    </tr>
                    <tr>
                        <td>Exemplo 2</td>
                        <td>Descrição do exemplo 2</td>
                        <td>02/01/2023</td>
                        <td><button class="btn-editar">Save for Later</button></td>
                    </tr>
                </tbody>
            </table>
    </main>
    <footer>
        Fim de pesquisa
    </footer>
    <script>
    document.getElementById('btnPesquisar').addEventListener('click', function() {
        document.getElementById('tabelaResultados').classList.add('mostrar');
    });
</script>
</body>
</html>