
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "register", media: "all" %>
<% end %>
</head>
<body>
  <main>
    <section class="registro-header">
      <h1>REGISTRO</h1>
    </section>
    <section class="registro-form">
      <form action="/users" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <label for="fusuario">Nome</label> 
        <input type="text" id="fusuario" name="user[name]" placeholder="Nome" />

        <label for="femail">Email</label> 
        <input type="text" id="femail" name="user[email]" placeholder="Email" />

        <label for="lsenha">Senha</label> 
        <input type="password" id="lsenha" name="user[password]" placeholder="Senha" />

        <button type="submit">Registrar</button>
      </form>
      <section class="error-message">
        <% if flash[:alert] %>
          <p class="error"><%= flash[:alert] %></p>
        <% end %>
      </section>
      <section class="voltar-login">
        <p>Já tem uma conta? <%= link_to "Login", login_path %></p>
    </section>
  </main>
</body>
</html>
