<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "login", media: "all" %>
<% end %>

</head>
<body>
  <main>
    <section class="login-header">
      <h1>LOGIN</h1>
      
    </section>
    <section class="login-form">
      <form>
       
        <input type="text" id="fusuario" name="email" placeholder="Email" />
        
        <input type="password" id="lsenha" name="senha" placeholder="Senha" />
        <button type="submit" <%= link_to "Login", principal_path %></button>
      </form>
    </section>
    <section class="register">
      <p>Não tem uma conta? <%= link_to "Registre-se", register_path %></p>
    </section>
  </main>
</body>
