<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "style_principal", media: "all" %>
<% end %>

</head>
<body>
  <header>
    SISTEMA DE PESQUISA DE TERMOS
    <section class="desconectar">
      <%= link_to logout_path, method: :get, class: "btn" do %>
        <div class="sign">
            <svg viewBox="0 0 512 512">
                <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
            </svg>
        </div>
        <div class="text">Desconectar</div>
      <% end %>
    </section>
  </header>

  <main>
    <section class="titulo-principal">
      <p class="nome-usuario"><%= @current_user&.name %></p>
      <%= link_to "Lista de Artigos Salvos", artigos_path, class: "btn lista-artigos" %>
    </section> 

    <section class="pesquisa">
      <section class="titulo-pesquisa">
        <h2>Digite o termo a ser pesquisado</h2>
      </section>
      <section class="caixa-search">
        <input class="caixa-texto" type="text" placeholder="Pesquisar...">
        <a class="botao-search" id="btnPesquisar">
          <i class='fas fa-search'></i>
        </a>
      </section>
    </section>

    <table id="tabelaResultados">
      <thead>
        <tr>
          <th>Título</th>
          <th>Fonte</th>
          <th>Link</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Exemplo 1</td>
          <td>Descrição do exemplo 1</td>
          <td>01/01/2023</td>
          <td><button class="btn-editar">Save for Later</button></td>
        </tr>
      </tbody>
    </table>
  </main>

  <footer>
    Fim de pesquisa
  </footer>

  <script>
    document.getElementById('btnPesquisar').addEventListener('click', function() {
      document.getElementById('tabelaResultados').classList.add('mostrar');
    });
  </script>
</body>
</html>