
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "register", media: "all" %>
<% end %>
</head>
<body>
  <main>
    <section class="registro-header">
      <h1>REGISTRO</h1>
    </section>
    <section class="registro-form">
      <form>
         <label for="fusuario">Nome</label> 
        <input type="text" id="fusuario" name="nome" placeholder="Nome" />
         <label for="fusuario">Email</label> 
        <input type="text" id="fusuario" name="email" placeholder="Email" />
         <label for="lsenha">Senha</label> 
        <input type="password" id="lsenha" name="senha" placeholder="Senha" />
        <button type="submit" <a href="/principal">Registrar</a></button>
      </form>
    </section>
  </main>
</body>

